---
import { getCollection } from 'astro:content';
const blogEntries = (await getCollection('blog')).map((entry) => ({
  url: `/posts/${entry.slug}`,
  name: entry.id,
}));
---

<h1>Welcome to my website</h1>
{
  blogEntries.map((entry) => (
    <>
      <a href={entry.url}>{entry.name}</a>
      <br />
    </>
  ))
}
