---
import { getCollection } from 'astro:content';
import Base from '../layouts/Base.astro';
import BlogEntry from '../components/BlogEntry.astro';

const blogEntries = (await getCollection('blog')).map((entry) => ({
  url: `/posts/${entry.slug}`,
  title: entry.data.title,
}));
---

<Base title='Adam Skoufis - Blog'>
  <h1 id='blog'>Blog</h1>
  {
    blogEntries.map((entry) => (
      <ul>
        <BlogEntry url={entry.url}>{entry.title}</BlogEntry>
      </ul>
    ))
  }
</Base>
