---
import './reset.css';
import './typography.css';
import { base, header, nav } from './Base.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html class={base}>
  <head>
    <title>{title}</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <header class={header}>
      <a href='/'>Home</a>
      <nav class={nav}>
        <a href='https://www.twitter.com/askoufish'>Twitter</a>
        <a href='https://www.github.com/askoufis'>GitHub</a>
        <a href='/about-me'>About Me</a>
      </nav>
    </header>
    <slot />
  </body>
</html>
