---
import Base from './Base.astro';

interface Props {
  title: string;
  description: string;
  slug: string;
}

const { title, description, slug } = Astro.props;
---

<Base title={title} description={description} type='article'>
  <main>
    <h1 id={slug}>{title}</h1>
    <article>
      <slot />
    </article>
  </main>
</Base>
