---
import Base from './Base.astro';
import './BlogPost.css';

interface Props {
  title: string;
  slug: string;
}

const { title, slug } = Astro.props;
---

<Base title={title}>
  <main>
    <h1 id={slug}>{title}</h1>
    <article></article>
    <slot />
  </main>
</Base>
